<% layout("/layouts/boilerplate") %>
<body class="blur-page">
    <div class="home-div">
    <button class="home-btn"><a href="/listings/new">Donate Food</a></button>
    <button class="home-btn"><a href="/listings">Available Food</a></button>
    </div>
</body>
  
  