<% layout("/layouts/boilerplate") %>
<div class="row new-row">
<div class="col-6 offset-3">
<body>
    <h2>Add Food Details</h2>
     <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data"  novalidate>
     <div class="mb-3">
       <label for="title" class="form-label">Food Name</label>
        <input type="text" name="listing[title]" class="form-control" required>
        <div class="valid-feedback">Name looks good!</div>
     </div>
     <div class="mb-3">
      <label for="image" class="form-label">Upload Image</label>
      <input class="form-control" type="file" name="listing[image]" required>
   </div>
     <div class="mb-3">
        <label for="price" class="form-label">Available food quantity for number of peoples</label>
        <input class="form-control" type="number" name="listing[price]" placeholder="enter number here" required>
        <div class="invalid-feedback">Number should be valid</div>
     </div>
     <div class="mb-3">
        <label for="country" class="form-label">Food Type</label>
        <input class="form-control" type="text" placeholder="veg/nonveg" name="listing[country]" required>
        <div class="invalid-feedback">Type should be valid</div>
     </div>
     <div class="mb-3">
      <label for="category" class="form-label">Food Category</label>
      <input class="form-control" type="text" placeholder="raw/cooked/packed" name="listing[category]" required>
      <div class="invalid-feedback">Category should be valid</div>
   </div>
   <div class="mb-3">
      <label for="contact" class="form-label">Phone Number</label>
      <input class="form-control" type="number" name="listing[contact]" placeholder="+91" required>
      <div class="invalid-feedback">Number should be valid</div>
   </div>
     <Div class="mb-3">
      <label for="description" class="form-label">Address</label>
      <textarea class="form-control" type="text" name="listing[description]" required></textarea>
      <div class="invalid-feedback">Please enter address here</div>
   </Div>
     <div>
        <label for="location" class="form-label">Location</label>
        <input class="form-control" type="text" placeholder="Nanded, India" name="listing[location]" required>
        <div class="invalid-feedback">location should be valid</div>
     </div class="mb-3"><br><br>
        <button class="btn btn-dark offset btn-new-page">Add</button>
    </form>
</body>
</div>
</div>