
body{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.blur-page {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  
  .blur-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://repository-images.githubusercontent.com/629572204/ea7a6eb4-98a9-4a29-a81c-b8ab3b171a01');
    background-size: cover;
    background-position: center;
    filter: blur(8px); /* Adjust blur amount */
    z-index: -1;
  }
  
  
html {
    transform: scale(0.67); 
    transform-origin: top left;
}
.home-div{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;

}
.home-btn{
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    height: 350px;
    width: 350px;
    border-radius: 59px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}
.home-btn:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Slightly less transparent on hover */
  }
  
.home-btn a{
    text-decoration: none;
    color: rgb(203, 202, 202);
    font-size: 70px;
}
.btn-request{
    background-color: green !important;
    font-size: 1.6rem !important;
    width: 230px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.btn-request a{
    text-decoration: none;
    color: white !important;
}
.navbar-brand{
    font-size: 50px !important;
}
.nav-link{
    font-size: 27px !important;
    margin-left: 15px;
    color: #222222 !important;
}
.fa-bowl-food,.fa-user{
    color: black;
}
.logout{
    margin-right: 1rem !important;
    margin-top: 1rem !important;
}
.navbar{
    background-color: #EB8317 !important;
}
.search-input{
    border: #ebebeb !important;
    border-radius: 3rem !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6) !important; /* Normal shadow */
    transition: box-shadow 0.3s ease-in-out !important;
}
.search-input:focus {
    outline: none !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7) !important; /* Shadow intensifies on focus */
  }

.btn-search{
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6) !important; /* Normal shadow */
    transition: box-shadow 0.3s ease-in-out !important;
}

.btn-search:focus {
    outline: none !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7) !important; /* Shadow intensifies on focus */
  }

.alert-danger{
    background-color: rgb(242, 139, 139) !important;
} 
  
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}
.f-info{
    text-align: center;
    height: 14rem;
    display: flex;
    background-color: #EB8317;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-evenly;

    /* bottom: 0; */
    /* position: fixed; */
    /* width: 100%; */
}
.row{
   gap: 35px;
} 


.container{
    max-width: 90% !important;
    margin-left: 7.5rem !important;
    flex: 1;
}

.f-info-links{
    font-size: 25px;
    width: 100%;
}
.f-info-socials{
    margin-top: 15px;
    font-size: 27px;
    width: 100%;
}
.copyright{
    font-size: 25px;
}
fooetr{
    position: fixed;
    bottom: 0;
    max-width: 100%;
}
.card-text{
    font-size: 25px;
    color: #222222;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.review-card{
    margin-left: 5rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
    font-style: italic !important;
}
.listing-link{
    text-decoration: none;
    margin: 0 !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.btn{
    width: 130px;
    height: 50px;
    margin-left: 27rem;
    margin-bottom: 1rem;
    border-radius: 10px !important;
    font-size: 25px !important;
    background-color:  #EB8317 !important;
    border-color: #EB8317 !important;
}
.form-label{
    font-size: 25px !important;
}
.show-img{
    height: 30vh;
}
.btn-dark{
    padding: 0% !important;
}
.btns{
    display: flex;
    gap: 10px;
}
.btn-edit{
    background-color:  #222222 !important;
    border: #222222 !important; 
    padding-top: 5px !important;

}
.btn-delete{
    margin-left: 0px !important;
}
.listing-details{
    font-size: 30px;
}
.row-show{
    margin-top: 1rem !important;
}
.new-row{
    margin-top: 4rem !important;
}
.flash-msg{
    font-size: 25px !important;
}
#map { 
    height: 600px; 
    width: 91vh;
}
.search-bar{
    margin-left: 17rem !important;
    margin-top: 1rem !important;
}
.searach-result{
    margin-top: 1rem;
}

@media only screen and (max-width: 1880px) {
    /* .copyright{
        font-size: 17px;
    }
    .f-info-socials{
        font-size: 21px;
    }
    .f-info-links{
        font-size: 17px;
    }
    .f-info{
        text-align: center;
        height: 10rem;
        display: flex;
        background-color: #ebebeb;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
    } */
    .container{
        /* max-width: 100% !important; */
        margin-left: 9rem !important;
    }
    .card{
        width: 28.5rem !important;
    }
    .row{
        margin-top: 1rem !important;
        gap: 45px;
     } 
     .navbar-brand{
        font-size: 40px !important;
    }
    .nav-link{
        font-size: 27px !important;
        margin-left: 15px;
        color: #222222 !important;
    }
    .navbar{
        padding-top: 0% !important;
        padding-bottom: 0% !important;
    }
    .btn{
        margin-left: 270px !important;
        margin-bottom: 1rem;
        border-radius: 10px !important;
        font-size: 25px !important;
    }
    .col-6{
        width: 950px !important;
        margin-left: 18rem !important;
    }
    .btn-edit{
        margin-left: 38% !important;
    }
    .btn-delete{
        margin-left: 0% !important;
    }
    .btn-edit-page{
        margin-left: 23rem !important;
    }
    .btn-new-page{
        margin-left: 23.5rem !important;
    }
    .review-card-col{
        width: 780px !important;
    }
    #map { 
        height: 600px; 
        width: 75vh;
    }
    .search-bar{
        margin-left: 9rem !important;
        margin-top: 1rem !important;
    }
  }
  @media only screen and (max-width: 600px) {
    .container{
        /* max-width: 100% !important; */
        margin-left: 1.2rem !important;
    }
    .card-text{
        font-size: 20px;
        color: #222222;
    }
    .card-img-top{
        height: 25rem;
    }
    .btn{
        width: 100px;
        height: 40px;
        margin-left: 110px !important;
        margin-bottom: 1rem;
        border-radius: 10px !important;
        font-size: 20px !important;
    }
    .new-row{
        offset: 0 !important; 
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
    .offset-3{
        margin-left: 0px !important;
    }
    .col-6{
        width: 350px !important;
    }
    .row-show{
        margin-left: 10px !important;
    }
    .btn-edit{
        margin-left: 17% !important;
        width: 100px !important;
    }
    .btn-delete{
        margin-left: 0% !important;
    }
    .btn-new-page{
        margin-left: 7.5rem !important;
    }
    .copyright{
        font-size: 17px;
    }
    .f-info-socials{
        font-size: 21px;
    }
    .f-info-links{
        font-size: 17px;
    }
    .f-info{
        text-align: center;
        height: 10rem;
        display: flex;
        background-color: #EB8317;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-evenly;
    }
    .review-card{
        margin-left: 0px !important;
    }
    .flash-msg{
        font-size: 15px !important;
    }
    #map { 
        height: 600px; 
        width: 35vh;
    }
    .pre-img{
        width: 350px;
    }
    .search-bar{
        margin-left: 1rem !important;
    }
    .search-bar input{
        width: 260px !important;
    }
    .btn-search{
        width: 110px !important;
    }
    .home-div{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    
    }
    .home-btn{
        background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
        height: 250px;
        width: 250px;
        border-radius: 59px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .home-btn:hover {
        background-color: rgba(255, 255, 255, 0.3); /* Slightly less transparent on hover */
      }
      
    .home-btn a{
        text-decoration: none;
        color: black;
        font-size: 45px;
    }
  }
